//████████████████████████████████████████████TABLA██████████████████████████████████████████████████████████████████████

.escan-table table {
  overflow-y: auto;
 
}


thead th {
  position: sticky;
  top: 0;
}

thead{
  th{

    background-color: var(--escan-primario);
    color: var(--escan-fondo);
    padding: 5px;
    border-left: 1px var(--escan-fondo) solid;
    text-align: center;
   
  }
}



th, td{
  font-weight: initial;
  width: 200px;
}

.Seleccionar{
  td, th{
    font-weight: bold;
  }
  
}

.liberado{
  display: flex;
  align-content: space-between;

  span{
    width: 90%;
  }

  i{
    width: 10%;
  }

  .unlock{
    color: var(--escan-primario);
  }

}