@import '/src/assets/scss/media.scss';


#frmConfirmarFactura{
  min-width: var(--min-width);
}
.direcciones-delivery{

  margin-bottom: 0;


  @include Tamano_Menor(lg) {
    margin-bottom: 50px;
  }


}

.i-boton{
  padding: 0;
}



//████████████████████████████████████████████CHECBOX████████████████████████████████████████████████████████████████████████

.check-button-escasan {
    display: flex;
    justify-content:space-between;
  }
  
  