@import '/src/assets/scss/media.scss';


#frmConfirmarFactura{
  min-width: var(--min-width);
}
.direcciones-delivery{

  margin-bottom: 0;


  @include Tamano_Menor(lg) {
    margin-bottom: 50px;
  }


}

.i-boton{
  padding: 0;
}

.card-confirmar {
  margin-bottom: 35px;
}



//████████████████████████████████████████████CHECBOX████████████████████████████████████████████████████████████████████████

.check-button-escasan {
    display: flex;
    justify-content:space-between;
  }
  
  




  .btn-contenedor{

    text-align: right;
  
    @include Tamano(xs) {
      button{
        display: block;
        width: 100%;
      }
    }
  
    @include Tamano(lg) {
      button{
        display: initial;
        width: auto;
      }
    }
   
    
  }
  