@import '/src/assets/scss/media.scss';


#frmConfirmarFactura{
  min-width: var(--min-width);
}
.direcciones-delivery{

  margin-bottom: 0;


  @include Tamano_Menor(lg) {
    margin-bottom: 100px;
  }


}

.i-boton{
  padding: 0;
}

.card-confirmar {
  margin-bottom: 35px;
}

span{
  color: var(--escan-secundario);
  font-weight: bold;
}


//████████████████████████████████████████████CHECBOX████████████████████████████████████████████████████████████████████████

.check-button-escasan {
    display: flex;
    justify-content:space-between;
  }
  
  




  .btn-contenedor{

    text-align: right;
  
    @include Tamano(xs) {
      button{
        display: block;
        width: 100%;
      }
    }
  
    @include Tamano(lg) {
      button{
        display: initial;
        width: auto;
      }
    }
   
    
  }
  

//████████████████████████████████████████████TOTALES████████████████████████████████████████████████████████████████████████

.contenedor {
  text-align: right;
  @include Tamano_Menor(lg) {
    margin-bottom: 70px;
  }
}

.contenedor-totales {
  display: flex;
  margin-bottom: 5px;

  font-weight: bolder;

  .etiqueta-totales {
    width: 85%;

    @include Tamano_Menor(lg) {
      width: 50%;
    }
  }

  .valores-totales {
    width: 15%;
    margin-right: 10px;

    @include Tamano_Menor(lg) {
      width: 50%;
    }
  }

  b {
    padding-left: 15px;
    padding-right: 15px;
  }

  .cordoba,
  .dolar {
    background-color: var(--escan-primario);
    color: var(--escan-fondo);
  }
  .tasa {
    background-color: #1b364c;
    color: var(--escan-fondo);
  }
}
