@import '/src/assets/scss/media.scss';


#frmFichaProducto{
  min-width: var(--min-width);
}


.btn-contenedor{

  text-align: right;

  @include Tamano(s) {
    button{
      display: block;
      width: 100%;
    }
  }

  @include Tamano(lg) {
    button{
      display: initial;
      width: auto;
    }
  }
 
  
}

//████████████████████████████████████████████TEXT NUMBER████████████████████████████████████████████████████████████████████████

.input-group-simbolo {
  padding: 0;
}
.number-simbolo {
  .simbolo {
    &-mas,
    &-minus {
      display: block;
      background: transparent;
      border: 0;
      color: black;
      :hover {
        color: var(--escan-primario);
        transform: scale(1.2);
      }
    }

    &-minus {
      margin-top: 2px;
    }
  }

  /* overflow: hidden; 
    text-align: center;
    span i{
      display: block;
      margin: 5px 5% 0 0;
  
    }*/
}


.i-bonif{
  padding: 0;
}

