<div id="frmFichaProducto" style="display:none;">
    <form class="mx-2">
        <div class="row">
            <div class="mb-3">
                <div class="card">
                    <div>
                        <div class="card-header card-escasan-header">FICHA DE PRODUCTO</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-3 mb-1">
                                    <div class="input-group">
                                        <span class="input-group-text"><i class="bi bi-upc-scan"></i></span>
                                        <div class="form-floating">
                                            <input type="text" id="txtCodProducto" class="form-control"
                                                placeholder="Seleccione un producto" aria-label="CodProducto" matInput
                                                [formControl]="myControl" [matAutocomplete]="completeProducto">
                                            <label for="txtCodProducto">Codigo</label>

                                        </div>
                                        <span class="input-group-text"><button type="button" class="btn"
                                                (click)="v_Datos_Producto('E');"><i
                                                    class="fa-solid fa-warehouse fa-beat-fade fa-lg"></i></button></span>
                                    </div>
                                </div>


                                <div class="col-12 col-sm-12 col-md-12 col-lg-9 mb-1">
                                    <div class="input-group">
                                        <div class="form-floating">
                                            <textarea type="text" id="txtProducto" class="form-control" placeholder=""
                                                aria-label="Producto"></textarea>
                                            <label for="txtCodProducto">Nombre</label>
                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="row">
                                <div class="col-12 col-ms-12 col-md-6 mb-1">
                                    <div class="input-group">
                                        <span class="input-group-text">C$</span>
                                        <div class="form-floating">
                                            <input type="number" id="txtPrecioCor" class="form-control" placeholder=""
                                                aria-label="Precio">
                                            <label for="txtPrecioCor">Precio</label>

                                        </div>

                                    </div>
                                </div>

                                <div class="col-12 col-ms-12 col-md-6 mb-1">
                                    <div class="input-group">
                                        <span class="input-group-text">U$</span>
                                        <div class="form-floating">
                                            <input type="number" id="txtPrecioDol" class="form-control" placeholder=""
                                                aria-label="Precio">
                                            <label for="txtPrecioDol">Precio</label>

                                        </div>

                                    </div>
                                </div>


                            </div>

                            <div class="row">

                                <div class="col-12 col-ms-12 col-md-6 mb-1">
                                    <div class="input-group">
                                        <!--<fa-icon icon="warehouse"></fa-icon>-->

                                        <div class="form-floating">
                                            <input type="number" id="txtCantidad" class="form-control" placeholder=""
                                                aria-label="Cantidad"
                                                onkeydown="if(event.key==='.'){event.preventDefault();}">
                                            <label for="txtCantidad">Cantidad</label>
                                        </div>
                                        <span class="input-group-text input-group-simbolo">
                                            <div class="number-simbolo">

                                                <button type="button" class="simbolo-mas"><i
                                                        class="fa-solid fa-plus"></i></button>
                                                <button type="button" class="simbolo-minus"><i
                                                        class="fa-solid fa-minus"></i></button>

                                            </div>

                                        </span>
                                        <span class="input-group-text i-bonif"><button type="button" class="btn"><i
                                                    class="fa-solid fa-b fa-beat-fade fa-lg i-bonif"
                                                    (click)="v_Datos_Producto('B');"></i>
                                                <i class="fa-solid fa-o fa-beat-fade fa-lg"
                                                    (click)="v_Datos_Producto('B');"></i>
                                            </button></span>

                                        <span class="input-group-text i-bonif"><button type="button" class="btn"
                                            (click)="v_Bonificacion_Libre();"><i
                                                    class="fa-solid fa-b fa-beat-fade fa-lg i-bonif"></i>
                                                <i class="fa-solid fa-o fa-beat-fade fa-lg i-bonif"></i>
                                                <i class="fa-solid fa-l fa-beat-fade fa-lg"></i></button></span>

                                    </div>
                                </div>

                                <div class="col-12 col-ms-12 col-md-6 mb-1">
                                    <div class="input-group">
                                        <div class="form-floating">
                                            <input type="number" id="txtProcDescuento" class="form-control"
                                                placeholder="" aria-label="ProcDescuento">
                                            <label for="txtProcDescuento">Descuento</label>
                                        </div>
                                        <span class="input-group-text input-group-simbolo">
                                            <div class="number-simbolo">

                                                <button type="button" class="simbolo-mas"><i
                                                        class="fa-solid fa-plus"></i></button>
                                                <button type="button" class="simbolo-minus"><i
                                                        class="fa-solid fa-minus"></i></button>

                                            </div>

                                        </span>
                                        <span class="input-group-text"><button type="button" class="btn"><i
                                                    class="fa-sharp fa-solid fa-percent fa-beat-fade fa-lg"
                                                    (click)="v_Datos_Producto('D');"></i></button></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="btn-contenedor">
                                    <button type="button" class="btn btn-primario" (click)="v_Agregar_Producto();">Agregar Producto</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <mat-autocomplete autoActiveFirstOption #completeProducto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
    </form>

</div>