

p{
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.5em;
}
.btn-contenedor button{
    margin-left: 10px;
    margin-right: 10px;
  }

  .text-ajustar {
    float: left;
    display: flex;
    align-items: center;
    word-break: break-all;
    margin: 0 0 1em 1em;
  }
  
  .linea {
    border-bottom: 2px dashed var(--escan-secundario);
  }
  
  .depto-muni{
    text-align: right;
    font-weight: bold;
  }


  .contenedor-depto-muni {
    display: flex;
    justify-content:space-between;
    width: 100%;

    input{
      margin-right: 5px;
    }

  
  }  

