<div class="escasan-dialog escasan-dialog-full">
    <div class="btn-contenedor">
        <button class="close-button custom-cerrar" [mat-dialog-close]="true">
            <mat-icon class="close-icon" color="warn">close</mat-icon>
        </button>
    </div>

    <div>
        <h1>DIRRECIONES DE ENVIO</h1>

        <div class="row mx-1">
            <div class="linea">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 mb-1">
                        <div class="input-group">
                            <div class="form-floating">
                                <input type="text" id="txtDepartamento" class="form-control"
                                    placeholder="Departamento" aria-label="Departamento">
                                <label for="txtDepartamento">Departamento</label>
    
                            </div>
    
                        </div>
    
                    </div>
    
                    <div class="col-12 col-sm-12 col-md-6 mb-1">
                        <div class="input-group">
                            <div class="form-floating">
                                <input type="text" id="txtMunicipio" class="form-control"
                                    placeholder="Municipio" aria-label="Municipio">
                                <label for="txtMunicipio">Municipio</label>
    
                            </div>
    
    
                        </div>
                    </div>
                </div>
    
                <div class="row mb-1">
                    <div class="form-floating">
                        <textarea type="text" id="txtDireccion" style="height: 100px" class="form-control"
                            placeholder="Dirección" aria-label="Direccion"></textarea>
                        <label for="txtDireccion">Dirección</label>
    
                    </div>
                </div>

         
            </div>
        </div>
    
    </div>

    

    <div mat-dialog-content class="mt-3">
        
        <div class="row escan-table">
            <table class="table table-hover table-bordered table-sm tabla-direccion">
                <thead>
                    <tr>
                        <th scope="col">*</th>
                        <th scope="col">Departamento</th>
                        <th scope="col">Municipio</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><span class="input-group-text">
                          
                                    <input id="txt1" class="form-check-input check-escasan" type="checkbox">
                                    <label for="txt1" class="form-check-label"></label>
                                </span></th>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">3</th>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
        </div>


    </div>
    <div mat-dialog-actions class="btn-contenedor ">
        <button type="button" class="btn btn-primario" (click)="dialogRef.close();">Aceptar</button>
        <button type="button" class="btn btn-secundario" (click)="dialogRef.close();" cdkFocusInitial>Cerrar</button>
    </div>
</div>