<div id="frmFichaProducto" style="display:none;">
    <form class="mx-2" [formGroup]="val.ValForm" autocomplete="off">
        <div class="row">
            <div class="mb-3">
                <div class="card">
                    <div>
                        <div class="card-header card-escasan-header">FICHA DE PRODUCTO</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-12 col-lg-3 mb-1">
                                    <div class="input-group">
                                        <span class="input-group-text"><button type="button" class="btn i-boton"
                                            (click)="v_Borrar_Producto();"><i
                                                    [ngClass]="CodProducto == '' ? 'bi bi-upc-scan' : 'fa-solid fa-eraser fa-beat-fade fa-lg'"></i></button></span>
                                        <div class="form-floating">
                                            <input type="text" id="txtCodProducto" class="form-control"
                                                placeholder="Seleccione un producto" aria-label="CodProducto" matInput
                                                formControlName="txtCodProducto" [matAutocomplete]="cmbProducto">
                                            <label for="txtCodProducto">Codigo</label>

                                        </div>
                                        <span class="input-group-text"><button type="button" class="btn i-boton"
                                                (click)="v_tabla_Producto('E');"><i
                                                    class="fa-solid fa-warehouse fa-beat-fade fa-lg"></i></button></span>


                                        <mat-autocomplete autoActiveFirstOption #cmbProducto="matAutocomplete"
                                            (optionSelected)="v_Select_Producto($event)">
                                            <mat-option *ngFor="let option of filteredProductos | async"
                                                [value]="option.Codigo">
                                                {{option.Key}}
                                            </mat-option>
                                        </mat-autocomplete>
                                    </div>
                                </div>


                                <div class="col-12 col-sm-12 col-md-12 col-lg-9 mb-1">
                                    <div class="input-group">
                                        <div class="form-floating">
                                            <textarea type="text" id="txtProducto" class="form-control" placeholder="" 
                                                aria-label="Producto" formControlName="txtProducto"></textarea>
                                            <label for="txtProducto">Nombre</label>
                                        </div>

                                    </div>

                                </div>

                            </div>

                            <div class="row">
                                <div class="col-12 col-ms-12 col-md-6 mb-1">
                                    <div class="input-group">
                                        
                                        <span class="input-group-text"><button type="button" class="btn i-boton texto-efecto"
                                            (click)="v_tabla_Producto('P');">C$</button></span>
                                        <div class="form-floating">
                                            <input type="text" id="txtPrecioCor" class="form-control" placeholder=""
                                                aria-label="Precio" formControlName="txtPrecioCor"
                                                (keydown)="this.cFunciones.v_Prevent_IsNumber($event,  'Decimal');"
                                                (change)="v_ConvertirPrecio($event);"
                                                (focusout)="v_FocusOut('txtPrecioCor', '4');">
                                            <label for="txtPrecioCor">Precio</label>

                                        </div>

                                    </div>
                                </div>

                                <div class="col-12 col-ms-12 col-md-6 mb-1">
                                    <div class="input-group">
                                        <span class="input-group-text"><button type="button" class="btn i-boton texto-efecto"
                                            (click)="v_tabla_Producto('P');">U$</button></span>
                                        <div class="form-floating">
                                            <input type="text" id="txtPrecioDol" class="form-control" placeholder=""
                                                aria-label="Precio" formControlName="txtPrecioDol"
                                                (keydown)="this.cFunciones.v_Prevent_IsNumber($event,  'Decimal');"
                                                (change)="v_ConvertirPrecio($event);"
                                                (focusout)="v_FocusOut('txtPrecioDol', '4');">
                                            <label for="txtPrecioDol">Precio</label>

                                        </div>

                                    </div>
                                </div>


                            </div>

                            <div class="row">

                                <div class="col-12 col-ms-12 col-md-6 mb-1">
                                    <div class="input-group">
                                        <!--<fa-icon icon="warehouse"></fa-icon>-->

                                        <div class="form-floating">
                                            <input type="text" id="txtCantidad" class="form-control" placeholder=""
                                                aria-label="Cantidad" formControlName="txtCantidad"
                                                (keydown)="this.cFunciones.v_Prevent_IsNumber($event,  'Entero');"
                                                (change)="Calcular();"
                                                (focusout)="v_FocusOut('txtCantidad', '0');">
                                            <label for="txtCantidad">Cantidad</label>
                                        </div>
                                        <span class="input-group-text input-group-simbolo">
                                            <div class="number-simbolo">

                                                <button type="button" class="simbolo-mas"><i
                                                        class="fa-solid fa-plus"
                                                        (click)="v_minus_mas('+', 'txtCantidad');"></i></button>
                                                <button type="button" class="simbolo-minus"><i
                                                        class="fa-solid fa-minus"
                                                        (click)="v_minus_mas('-', 'txtCantidad');"></i></button>

                                            </div>

                                        </span>
                                        <span class="input-group-text i-bonif"><button type="button"
                                                class="btn i-boton texto-efecto"
                                                (click)="v_tabla_Producto('B');">BO</button></span>

                                        <span class="input-group-text i-bonif"><button type="button" class="btn i-boton texto-efecto"
                                                (click)="v_Bonificacion_Libre();">BOL</button></span>

                                    </div>
                                </div>

                                <div class="col-12 col-ms-12 col-md-6 mb-1">
                                    <div class="input-group">
                                        <div class="form-floating">
                                            <input type="text" id="txtProcDescuento" class="form-control"
                                                placeholder="" aria-label="ProcDescuento" formControlName="txtProcDescuento"
                                                (keydown)="this.cFunciones.v_Prevent_IsNumber($event,  'Decimal');"
                                                (change)="Calcular();"
                                                (focusout)="v_FocusOut('txtProcDescuento', '2');">
                                            <label for="txtProcDescuento">Descuento</label>
                                        </div>
                                        <span class="input-group-text input-group-simbolo">
                                            <div class="number-simbolo">

                                                <button type="button" class="simbolo-mas"><i
                                                    class="fa-solid fa-plus"
                                                    (click)="v_minus_mas('+', 'txtProcDescuento');"></i></button>
                                            <button type="button" class="simbolo-minus"><i
                                                    class="fa-solid fa-minus"
                                                    (click)="v_minus_mas('-', 'txtProcDescuento');"></i></button>

                                            </div>

                                        </span>
                                        <span class="input-group-text"><button type="button" class="btn i-boton"><i
                                                    class="fa-sharp fa-solid fa-percent fa-beat-fade fa-lg"
                                                    (click)="v_tabla_Producto('D');"></i></button></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="btn-contenedor">
                                    <button type="button" class="btn btn-secundario" id="btnRefrescarProductos" (click)="v_Refrescar();"><i class="fa-solid fa-arrows-rotate fa-spin fa-lg"></i> Refrescar</button>

                                    <button type="button" class="btn btn-primario" id="btnAgregarProducto"
                                        (click)="v_Agregar_Producto();"><i
                                        class="bi bi-plus-circle-fill"></i> Agregar Producto</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">

           <div class="contenedor">


                    <div class="row">
                        <div class="col-12 contenedor-totles">
                            <div class="etiqueta-totales">SUB TOTAL:</div>
                            <div class="valores-totales"><b>{{SubTotal| number : '1.2-2'}}</b></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 contenedor-totles">
                            <div class="etiqueta-totales">DECUENTO:</div>
                            <div class="valores-totales"><b>{{Descuento| number : '1.2-2'}}</b></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 contenedor-totles">
                            <div class="etiqueta-totales">ADICIONAL:</div>
                            <div class="valores-totales"><b>{{Adicional| number : '1.2-2'}}</b></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 contenedor-totles">
                            <div class="etiqueta-totales">SUB.T NETO:</div>
                            <div class="valores-totales"><b>{{SubTotalNeto| number : '1.2-2'}}</b></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 contenedor-totles">
                            <div class="etiqueta-totales">IMPUESTO:</div>
                            <div class="valores-totales"><b>{{Impuesto| number : '1.2-2'}}</b></div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-12 contenedor-totles">
                            <div class="etiqueta-totales">TOTAL C$</div>
                            <div class="valores-totales"><b class="cordoba">{{TotalCordoba| number : '1.2-2'}}</b></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 contenedor-totles">
                            <div class="etiqueta-totales">TOTAL U$:</div>
                            <div class="valores-totales"><b class="dolar">{{TotalDolar| number : '1.2-2'}}</b></div>
                        </div>
                    </div>

        

                    <div class="row">
                        <div class="col-12 contenedor-totles">
                            <div class="etiqueta-totales">TC:</div>
                            <div class="valores-totales"><b class="tasa">{{TC| number : '1.4-4'}}</b></div>
                        </div>
                    </div>

                </div>
           
        </div>


    </form>

</div>