@import '/src/assets/scss/media.scss';


#frmFichaProducto{
  min-width: var(--min-width);

 
}


.btn-contenedor{

  display: flex;
  justify-content: space-between;
  
  button{
    margin-right: 5px;
  }

  @include Tamano(xs) {
    button{
      display: block;
      width: 100%;
    }
  }

  @include Tamano(lg) {
    button{
      display: initial;
      width: auto;
    }
  }
 
  
}


.i-boton{
  padding: 0;
}

.btn-precio{
  color: var(--escan-secundario);
}

//████████████████████████████████████████████TEXT NUMBER████████████████████████████████████████████████████████████████████████

.input-group-simbolo {
  padding: 0;
}
.number-simbolo {
  .simbolo {
    &-mas,
    &-minus {
      display: block;
      background: transparent;
      border: 0;
      color: black;
      :hover {
        color: var(--escan-primario);
        transform: scale(1.2);
      }
    }

    &-minus {
      margin-top: 2px;
    }
  }

  /* overflow: hidden; 
    text-align: center;
    span i{
      display: block;
      margin: 5px 5% 0 0;
  
    }*/
}


.i-bonif{
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 4px;
  padding-right: 4px;
}



//████████████████████████████████████████████TOTALES████████████████████████████████████████████████████████████████████████

.contenedor{
  text-align: right;
  @include Tamano_Menor(lg) {
    margin-bottom: 70px;
  }

}

.contenedor-totles{
  display: flex;
  margin-bottom: 5px;

  font-weight: bolder;

  .etiqueta-totales{
  
    width: 85%;

    @include Tamano_Menor(lg) {
      width: 50%;
    }

      

  }

  .valores-totales{

    width: 15%;
    margin-right: 10px;
    

    @include Tamano_Menor(lg) {
      width: 50%;
    }
  }

  b{
    padding-left: 15px;
    padding-right: 15px;
  }

  .cordoba, .dolar{
    background-color: var(--escan-primario);
    color: var(--escan-fondo);
  }
  .tasa{
    background-color: #1b364c;
    color: var(--escan-fondo);
  }

}


