<div class="escasan-dialog escasan-dialog-full">
    <div class="btn-contenedor">
        <button class="close-button custom-cerrar" [mat-dialog-close]="true">
            <mat-icon class="close-icon" color="warn">close</mat-icon>
        </button>
    </div>

    <div>
        <p>DIRECCIONES DE ENVIO</p>
        <div class="row mx-1">
            <div class="row">
   

                <div class="input-group">
                    <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>

                    <div class="form-floating">
                        <input type="text" id="txtDireccion" class="form-control" placeholder="Dirección"
                        aria-label="Dirección"  (keyup)="v_Filtrar($event);" autocomplete="off">
                    <label for="txtDireccion">Buscar Dirección</label>
                       
                       

                    </div>

                </div>
            </div>

            <div class="row">
                <p>Direcciones</p>
            </div>
        </div> 
   
       



        <div mat-dialog-content class="mt-1">

            <div class="row escan-table">
                <table class="table table-hover table-bordered table-sm tabla-direccion">
                    <tbody  *ngFor="let det of lstFilter">
                        <tr class="row">

                            <td scope="row" class="col-sm-12">
                                <div>

                                    <div class="contenedor-depto-muni input-group-text">

                                        <div>
                                            <input  class="form-check-input check-escasan" [(ngModel)] = "det.Seleccionar" type="checkbox" (change)="v_Seleccionar(det)">
                                        </div>

                                        <div class="contenedor-depto-muni">
                                            <div class="depto-muni"> {{det.Descripcion}} </div>
                                            <div class="depto-muni">{{det.Departamento}} - {{det.Municipio}} </div>
                                        </div>


                                    </div>
                                </div>

                            </td>
                            <td class="col-sm-12 linea">
                                <div class="text-ajustar">{{det.Direccion}}
                                </div>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>


        </div>
       
        <div mat-dialog-actions class="btn-contenedor ">
            <button type="button" class="btn btn-primario" (click)="v_Aceptar()">Aceptar</button>
            <button type="button" class="btn btn-secundario" (click)="v_Cancelar();">Cerrar</button>
        </div>
    </div>