.RegistrosFactura{
    padding: 15px;
}

thead{
    tr{
        position: relative;
        th{
            position:fixed;
            top: 0;
            height: 120px;
            text-align: center;
            z-index: 1;

            .titulo{
                font-size: 1.5em;
            }
        }

        .linea{
            border-bottom: 1px solid var(--escan-primario);
        }

        .contenedor-buscar{
            margin-top: 20px;
        }
    }
}

.contenido-2{
    display: flex;
    align-items:center;
    justify-content:space-between;
}

.aling-block.center{
    text-align: center;
}


.aling-block{

    span{
    display: block;
    width: 100%;
    }
}



.aling-right{
    text-align: right;

    span{
        display: inline-block;
        width: 50%;
    }
}

.header-table-doc{
    background-color: var(--escan-primario);
    color: var(--escan-fondo);
}

tbody tr:first-child {
    margin-top: 120px;
  }

  
.linea {
    border-bottom: 2px dashed var(--escan-secundario);
  }

  .btn-contenedor{
    display: flex;
    justify-content: right;
    button:first-child{
        margin-right: 50px;

        i{
            color: var(--escan-primario);
        }
    }
  }
