<div class="RegistrosFactura">
    <table class="table table-hover table-bordered table-sm">
        <thead>
            <tr class="row">
                <th scope="col" class="col-12 linea">
                    <div class="titulo">
                        REGISTROS FACTURAS
                    </div>
                    <div class="row gx-0 contenedor-buscar">
                        <div class="col-6 col-md-6 col-lg-4 mb-1">
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-calendar"></i></span>
                                <div class="form-floating">
                                    <input type="date" id="txtFecha1" class="form-control" placeholder="Fecha Inicio"
                                        aria-label="Fecha Final">
                                    <label for="txtFecha1">Desde</label>

                                </div>

                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 px-1 mb-1">
                            <div class="input-group">

                                <div class="form-floating">
                                    <input type="date" id="txtFecha2" class="form-control" placeholder="Fecha Final"
                                        aria-label="Fecha Final">
                                    <label for="txtFecha2">Hasta</label>

                                </div>

                                <span class="input-group-text"> <button type="button" class="btn btn-refescar"><i
                                            class="fa-solid fa-arrows-rotate fa-beat-fade fa-lg"></i></button></span>
                            </div>
                        </div>
                        <div class="col-12col-md-12 col-lg-4 mb-1">
                            <div class="input-group">
                                <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>

                                <div class="form-floating">
                                    <input type="text" id="txtBuscar" class="form-control" placeholder="Buscar"
                                        aria-label="Buscar">
                                    <label for="txtBuscar">Buscar</label>

                                </div>

                            </div>
                        </div>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>

        
            
            <tr class="row mb-3 linea">
                <td class="col-12">

                    <div class="row g-1 mb-2 header-table-doc">

                        <div class="col-4">
                            <div class="aling-block center">
                                <span><b>No Factura</b></span>
                                <span>A00000000</span>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="row">
                                <div class="aling-block center">
                                    <span><b>Fecha</b></span>
                                    <span>01-01-2023</span>
                                </div>
                            </div>
                        </div>


                        <div class="col-4">
                            <div class="row">
                                <div class="aling-block center">
                                    <span><b>No Pedido</b></span>
                                    <span>P999999999</span>
                                </div>
                            </div>
                        </div>



                    </div>


                    <div class="row g-1 mb-2">
                        <div class="col-4 col-md-4 col-lg-4">
                            <div class="aling-block">
                                <span><b>Bodega</b></span>
                                <span>B-01</span>
                            </div>

                        </div>

                        <div class="col-8 col-md-8 col-lg-4 offset-lg-4">
                            <div class="aling-block right">
                                <span><b>Vendedor</b></span>
                                <span>Vendedor Mostrador Casa Matriz</span>
                            </div>

                        </div>
                    </div>

                    <div class="row g-1 mb-2">

                        <div class="col-6">
                            <div class="aling-block">
                                <span><b>Tipo Venta</b></span>
                                <span>Credito</span>
                            </div>

                        </div>
                        <div class="col-6">
                            <div class="aling-block right">
                                <span><b>Vence</b></span>
                                <span>01-02-2023</span>
                            </div>

                        </div>


                    </div>

                    <div class="row g-1 mb-2">

                        <div class="col-4">
                            <div class="aling-block">
                                <span><b>Total U$</b></span>
                                <span>100,000.00</span>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="aling-block">
                                <span><b>Total C$</b></span>
                                <span>3,600,000.00</span>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="row">
                                <div class="aling-right">
                                    <span><b>Estado: </b></span>
                                    <span>Facturada</span>
                                </div>
                                <div class="aling-right">
                                    <span><b>Usuario: </b></span>
                                    <span>jmg</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <span class="input-group-text btn-contenedor">
                            <button type="button" class="btn"><i class="fa-solid fa-eye fa-beat-fade fa-lg"></i>
                            </button>
                            <button type="button" class="btn"><i class="fa-solid fa-ban fa-beat-fade fa-lg"></i>
                            </button>
                        </span>

                    </div>

                </td>



            </tr>


            <tr class="row mb-3 linea">
                <td class="col-12">

                    <div class="row g-1 mb-2 header-table-doc">

                        <div class="col-4">
                            <div class="aling-block center">
                                <span><b>No Factura</b></span>
                                <span>A00000000</span>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="row">
                                <div class="aling-block center">
                                    <span><b>Fecha</b></span>
                                    <span>01-01-2023</span>
                                </div>
                            </div>
                        </div>


                        <div class="col-4">
                            <div class="row">
                                <div class="aling-block center">
                                    <span><b>No Pedido</b></span>
                                    <span>P999999999</span>
                                </div>
                            </div>
                        </div>



                    </div>


                    <div class="row g-1 mb-2">
                        <div class="col-4 col-md-4 col-lg-4">
                            <div class="aling-block">
                                <span><b>Bodega</b></span>
                                <span>B-01</span>
                            </div>

                        </div>

                        <div class="col-8 col-md-8 col-lg-4 offset-lg-4">
                            <div class="aling-block right">
                                <span><b>Vendedor</b></span>
                                <span>Vendedor Mostrador Casa Matriz</span>
                            </div>

                        </div>
                    </div>

                    <div class="row g-1 mb-2">

                        <div class="col-6">
                            <div class="aling-block">
                                <span><b>Tipo Venta</b></span>
                                <span>Credito</span>
                            </div>

                        </div>
                        <div class="col-6">
                            <div class="aling-block right">
                                <span><b>Vence</b></span>
                                <span>01-02-2023</span>
                            </div>

                        </div>


                    </div>

                    <div class="row g-1 mb-2">

                        <div class="col-4">
                            <div class="aling-block">
                                <span><b>Total U$</b></span>
                                <span>100,000.00</span>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="aling-block">
                                <span><b>Total C$</b></span>
                                <span>3,600,000.00</span>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="row">
                                <div class="aling-right">
                                    <span><b>Estado: </b></span>
                                    <span>Facturada</span>
                                </div>
                                <div class="aling-right">
                                    <span><b>Usuario: </b></span>
                                    <span>jmg</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <span class="input-group-text btn-contenedor">
                            <button type="button" class="btn"><i class="fa-solid fa-eye fa-beat-fade fa-lg"></i>
                            </button>
                            <button type="button" class="btn"><i class="fa-solid fa-ban fa-beat-fade fa-lg"></i>
                            </button>
                        </span>

                    </div>

                </td>



            </tr>


            <tr class="row mb-3 linea">
                <td class="col-12">

                    <div class="row g-1 mb-2 header-table-doc">

                        <div class="col-4">
                            <div class="aling-block center">
                                <span><b>No Factura</b></span>
                                <span>A00000000</span>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="row">
                                <div class="aling-block center">
                                    <span><b>Fecha</b></span>
                                    <span>01-01-2023</span>
                                </div>
                            </div>
                        </div>


                        <div class="col-4">
                            <div class="row">
                                <div class="aling-block center">
                                    <span><b>No Pedido</b></span>
                                    <span>P999999999</span>
                                </div>
                            </div>
                        </div>



                    </div>


                    <div class="row g-1 mb-2">
                        <div class="col-4 col-md-4 col-lg-4">
                            <div class="aling-block">
                                <span><b>Bodega</b></span>
                                <span>B-01</span>
                            </div>

                        </div>

                        <div class="col-8 col-md-8 col-lg-4 offset-lg-4">
                            <div class="aling-block right">
                                <span><b>Vendedor</b></span>
                                <span>Vendedor Mostrador Casa Matriz</span>
                            </div>

                        </div>
                    </div>

                    <div class="row g-1 mb-2">

                        <div class="col-6">
                            <div class="aling-block">
                                <span><b>Tipo Venta</b></span>
                                <span>Credito</span>
                            </div>

                        </div>
                        <div class="col-6">
                            <div class="aling-block right">
                                <span><b>Vence</b></span>
                                <span>01-02-2023</span>
                            </div>

                        </div>


                    </div>

                    <div class="row g-1 mb-2">

                        <div class="col-4">
                            <div class="aling-block">
                                <span><b>Total U$</b></span>
                                <span>100,000.00</span>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="aling-block">
                                <span><b>Total C$</b></span>
                                <span>3,600,000.00</span>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="row">
                                <div class="aling-right">
                                    <span><b>Estado: </b></span>
                                    <span>Facturada</span>
                                </div>
                                <div class="aling-right">
                                    <span><b>Usuario: </b></span>
                                    <span>jmg</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <span class="input-group-text btn-contenedor">
                            <button type="button" class="btn"><i class="fa-solid fa-eye fa-beat-fade fa-lg"></i>
                            </button>
                            <button type="button" class="btn"><i class="fa-solid fa-ban fa-beat-fade fa-lg"></i>
                            </button>
                        </span>

                    </div>

                </td>



            </tr>


            <tr class="row mb-3 linea">
                <td class="col-12">

                    <div class="row g-1 mb-2 header-table-doc">

                        <div class="col-4">
                            <div class="aling-block center">
                                <span><b>No Factura</b></span>
                                <span>A00000000</span>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="row">
                                <div class="aling-block center">
                                    <span><b>Fecha</b></span>
                                    <span>01-01-2023</span>
                                </div>
                            </div>
                        </div>


                        <div class="col-4">
                            <div class="row">
                                <div class="aling-block center">
                                    <span><b>No Pedido</b></span>
                                    <span>P999999999</span>
                                </div>
                            </div>
                        </div>



                    </div>


                    <div class="row g-1 mb-2">
                        <div class="col-4 col-md-4 col-lg-4">
                            <div class="aling-block">
                                <span><b>Bodega</b></span>
                                <span>B-01</span>
                            </div>

                        </div>

                        <div class="col-8 col-md-8 col-lg-4 offset-lg-4">
                            <div class="aling-block right">
                                <span><b>Vendedor</b></span>
                                <span>Vendedor Mostrador Casa Matriz</span>
                            </div>

                        </div>
                    </div>

                    <div class="row g-1 mb-2">

                        <div class="col-6">
                            <div class="aling-block">
                                <span><b>Tipo Venta</b></span>
                                <span>Credito</span>
                            </div>

                        </div>
                        <div class="col-6">
                            <div class="aling-block right">
                                <span><b>Vence</b></span>
                                <span>01-02-2023</span>
                            </div>

                        </div>


                    </div>

                    <div class="row g-1 mb-2">

                        <div class="col-4">
                            <div class="aling-block">
                                <span><b>Total U$</b></span>
                                <span>100,000.00</span>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="aling-block">
                                <span><b>Total C$</b></span>
                                <span>3,600,000.00</span>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="row">
                                <div class="aling-right">
                                    <span><b>Estado: </b></span>
                                    <span>Facturada</span>
                                </div>
                                <div class="aling-right">
                                    <span><b>Usuario: </b></span>
                                    <span>jmg</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <span class="input-group-text btn-contenedor">
                            <button type="button" class="btn"><i class="fa-solid fa-eye fa-beat-fade fa-lg"></i>
                            </button>
                            <button type="button" class="btn"><i class="fa-solid fa-ban fa-beat-fade fa-lg"></i>
                            </button>
                        </span>

                    </div>

                </td>



            </tr>


            <tr class="row mb-3 linea">
                <td class="col-12">

                    <div class="row g-1 mb-2 header-table-doc">

                        <div class="col-4">
                            <div class="aling-block center">
                                <span><b>No Factura</b></span>
                                <span>A00000000</span>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="row">
                                <div class="aling-block center">
                                    <span><b>Fecha</b></span>
                                    <span>01-01-2023</span>
                                </div>
                            </div>
                        </div>


                        <div class="col-4">
                            <div class="row">
                                <div class="aling-block center">
                                    <span><b>No Pedido</b></span>
                                    <span>P999999999</span>
                                </div>
                            </div>
                        </div>



                    </div>


                    <div class="row g-1 mb-2">
                        <div class="col-4 col-md-4 col-lg-4">
                            <div class="aling-block">
                                <span><b>Bodega</b></span>
                                <span>B-01</span>
                            </div>

                        </div>

                        <div class="col-8 col-md-8 col-lg-4 offset-lg-4">
                            <div class="aling-block right">
                                <span><b>Vendedor</b></span>
                                <span>Vendedor Mostrador Casa Matriz</span>
                            </div>

                        </div>
                    </div>

                    <div class="row g-1 mb-2">

                        <div class="col-6">
                            <div class="aling-block">
                                <span><b>Tipo Venta</b></span>
                                <span>Credito</span>
                            </div>

                        </div>
                        <div class="col-6">
                            <div class="aling-block right">
                                <span><b>Vence</b></span>
                                <span>01-02-2023</span>
                            </div>

                        </div>


                    </div>

                    <div class="row g-1 mb-2">

                        <div class="col-4">
                            <div class="aling-block">
                                <span><b>Total U$</b></span>
                                <span>100,000.00</span>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="aling-block">
                                <span><b>Total C$</b></span>
                                <span>3,600,000.00</span>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="row">
                                <div class="aling-right">
                                    <span><b>Estado: </b></span>
                                    <span>Facturada</span>
                                </div>
                                <div class="aling-right">
                                    <span><b>Usuario: </b></span>
                                    <span>jmg</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <span class="input-group-text btn-contenedor">
                            <button type="button" class="btn"><i class="fa-solid fa-eye fa-beat-fade fa-lg"></i>
                            </button>
                            <button type="button" class="btn"><i class="fa-solid fa-ban fa-beat-fade fa-lg"></i>
                            </button>
                        </span>

                    </div>

                </td>



            </tr>





        </tbody>
    </table>
</div>