<div class="RegistrosFactura">

    <div class="row">
        <div class="contenedor-filtro">
            <div class="row">
                <div class="titulo">
                    {{(TipoDocumento == "Factura" || EsCola ? (EsCola ? "COLA DE IMPRESIÓN" : "REGISTROS FACTURA"):
                    "REGISTROS PEDIDO")}}
                </div>
            </div>
            <div class="row">
                <form [formGroup]="val.ValForm" autocomplete="off">
                    <div class="row gx-0 contenedor-buscar">
                        <div class="col-6 col-md-6 col-lg-4 mb-1" *ngIf="!EsCola">
                            <div class="input-group">
                                <span class="input-group-text"><i class="bi bi-calendar"></i></span>
                                <div class="form-floating">
                                    <input type="date" id="txtFecha1" class="form-control" placeholder="Fecha Inicio"
                                        aria-label="Fecha Final" formControlName="txtFecha1">
                                    <label for="txtFecha1">Desde</label>
    
                                </div>
    
                            </div>
                        </div>
                        <div class="col-6 col-md-6 col-lg-4 px-1 mb-1" *ngIf="!EsCola">
                            <div class="input-group">
    
                                <div class="form-floating">
                                    <input type="date" id="txtFecha2" class="form-control" placeholder="Fecha Final"
                                        aria-label="Fecha Final" formControlName="txtFecha2">
                                    <label for="txtFecha2">Hasta</label>
    
                                </div>
    
                                <span class="input-group-text"> <button type="button" class="btn btn-refescar"
                                        id="btnBuscarFactura" (click)="CargarDocumentos();"><i
                                            class="fa-solid fa-arrows-rotate fa-beat-fade fa-lg"></i></button></span>
                            </div>
                        </div>
                        <div class="col-12 col-md-12 col-lg-4 mb-1">
                            <div class="input-group">
                                <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>
    
                                <div class="form-floating">
                                    <input type="text" id="txtBuscar" class="form-control" placeholder="Buscar"
                                        aria-label="Buscar" formControlName="txtBuscar" (keyup)="v_Filtrar($event)">
                                    <label for="txtBuscar">Buscar</label>
    
                                </div>
    
                            </div>
                        </div>
                    </div>
                </form>
            </div>
    
    
        </div>
    </div>

   

    <div class="mat-elevation-z8  table-container">
        <table class="table table-hover table-bordered table-sm tabla-custom mat-elevation-z8" mat-table
            [dataSource]="lstDocumentos">

            <ng-container matColumnDef="col1">

                <td class="col-12" mat-cell *matCellDef="let det">

                    <div class="row g-1 mb-2 header-table-doc">

                        <div class="col-4">
                            <div class="aling-block center">
                                <span><b>No Factura</b></span>
                                <span>{{det.NoFactura}}</span>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="row">
                                <div class="aling-block center">
                                    <span><b>Fecha</b></span>
                                    <span>{{det.Fecha | date:'dd/MM/yyyy'}}</span>
                                </div>
                            </div>
                        </div>


                        <div class="col-4">
                            <div class="row">
                                <div class="aling-block center">
                                    <span><b>No Pedido</b></span>
                                    <span>{{det.NoPedido}}</span>
                                </div>
                            </div>
                        </div>



                    </div>


                    <div class="row g-1 mb-2">
                        <div class="col-6">
                            <div class="aling-block center">
                                <span><b>Cliente</b></span>
                                <span>{{det.CodCliente}} - {{det.NomCliente}}</span>
                            </div>

                        </div>

                        <div class="col-6">
                            <div class="aling-block center">
                                <span><b>Nombre</b></span>
                                <span>{{det.Nombre}}</span>
                            </div>

                        </div>
                    </div>


                    <div class="row g-1 mb-2">
                        <div class="col-6 col-md-6 col-lg-6">
                            <div class="aling-block">
                                <span><b>Bodega</b></span>
                                <span>{{det.CodBodega}} - {{det.NomBodega}}</span>
                            </div>

                        </div>

                        <div class="col-6 col-md-6 col-lg-6">
                            <div class="aling-block right">
                                <span><b>Vendedor</b></span>
                                <span>{{det.CodVendedor}} - {{det.NomVendedor}}</span>
                            </div>

                        </div>
                    </div>

                    <div class="row g-1 mb-2">

                        <div class="col-6">
                            <div class="aling-block">
                                <span><b>Tipo Venta</b></span>
                                <span>{{det.TipoVenta}}</span>
                            </div>

                        </div>
                        <div class="col-6">
                            <div class="aling-block right">
                                <span><b>Vence</b></span>
                                <span>{{det.Vence | date:'dd/MM/yyyy'}}</span>
                            </div>

                        </div>


                    </div>

                    <div class="row g-1 mb-2">

                        <div class="col-4">
                            <div class="aling-block">
                                <span><b>Total U$</b></span>
                                <span>{{det.TotalDolar | number:'1.2-2'}}</span>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="aling-block">
                                <span><b>Total C$</b></span>
                                <span>{{det.TotalCordoba | number:'1.2-2' }}</span>
                            </div>
                        </div>

                        <div class="col-4">
                            <div class="row">
                                <div class="aling-right">
                                    <span><b>Estado: </b></span>
                                    <span class="estado">{{det.Estado}}</span>
                                </div>
                                <div class="aling-right">
                                    <span><b>Usuario: </b></span>
                                    <span>{{det.UsuarioRegistra}}</span>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <span class="input-group-text btn-contenedor">

                            <button type="button" class="btn"><i
                                    [ngClass]="(EsCola ==true) ? 'fa-solid fa-print fa-fade fa-lg': 'fa-solid fa-eye fa-beat-fade fa-lg'"></i>
                            </button>
                            <button type="button" class="btn"><i class="fa-solid fa-ban fa-beat-fade fa-lg"
                                    (click)="v_Anular(det)" *ngIf="det.Estado!='Anulado'"></i>
                            </button>
                        </span>

                    </div>

                </td>

            </ng-container>


            <div class="row mb-3 linea">

                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="linea-bottom-secundario dashed">
                </tr>

            </div>
        </table>
        <mat-paginator [pageSizeOptions]="[100, 200]" class="mat-paginator-sticky"></mat-paginator>

    </div>


</div>