@import '/src/assets/scss/media.scss';




.RegistrosFactura {
    position: relative;
}

.table-container {
    width: fit-content;
}

.contenedor-filtro {

    position: fixed;
    top: 0;
    height: 120px;
    text-align: center;
    z-index: 1;
    background-color: var(--escan-fondo);
    border-bottom: 1px solid var(--escan-primario);

    .titulo {
        font-size: 1.5em;
    }


    @include Tamano_Menor(lg) {
        height: 170px;
    }

    @include Tamano_Menor(lg) {
        height: 170px;
    }



    .contenedor-buscar {
        margin-top: 20px;
    }
}

.mat-paginator-sticky {
    bottom: 0px;
    position: sticky;
    z-index: 10;
}





table{
    margin-top: 60px;
    width: 100%;

    @include Tamano_Menor(lg) {
        margin-top: 110px;
    }
}

.contenedor-pag {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: var(--escan-fondo);

    a {
        color: var(--escan-secundario);
        font-weight: bold;
    }
}

.tabla-custom{
    table-layout: fixed ;
    width: 100%;
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.linea-top {
    border-top: 1px solid var(--escan-secundario);
}




.btn-refescar {
    padding: 0;
}

.contenido-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.aling-block.center {
    text-align: center;
}


.aling-block {

    span {
        display: block;
        width: 100%;
    }
}



.aling-right {
    text-align: right;


    span {
        display: inline-block;
        width: 50%;
    }

    @include Tamano_Menor(lg) {
        font-size: 0.9em;
    }

}

.right {
    text-align: right;
}

.header-table-doc {
    background-color: var(--escan-primario);
    color: var(--escan-fondo);
}




.linea {
    border-bottom: 2px dashed var(--escan-secundario);
}

.btn-contenedor {
    display: flex;
    justify-content:space-between;

    span:first-child{
        i{
            margin-right: 10px;
        }
    }

    button:first-child {
        margin-right: 50px;

        i {
            color: var(--escan-primario);
        }
    }
}

.estado {
    font-weight: bold;
    color: blue;

   
    
}

.activo {
    a {
        color: var(--escan-primario);
    }
}