@import "/src/assets/scss/media.scss";

#frmFichaFactura {
  padding-bottom: 50px;
  overflow: hidden;
}

.linea{
  display: block;
  margin-bottom: 5px;
  border-bottom: 2px solid var(--escan-primario);
}

.i-bonif {
  margin-right: 1px;
}


span{
  color: var(--escan-secundario);
  font-weight: bold;
}

.i-boton{
  padding: 0;
  font-weight: bolder;
  i{
    margin-right: 5px;
  }
}



.btn-contenedor {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;

  button {
    margin-right: 5px;
  }

  @include Tamano(xs) {
    button {
      display: block;
      width: 100%;
    }
  }

  @include Tamano(lg) {
    button {
      display: initial;
      width: auto;
    }
  }
}

/*
.btn-contenedor{
  margin-bottom: 35px;
  text-align: left;

  @include Tamano(xs) {
    button{
      display: block;
      width: 100%;
    }
  }

  @include Tamano(lg) {
    button{
      display: initial;
      width: auto;
    }
  }
 
  
}
*/

#btnGuardarFactura
{
  display: none;
}


//████████████████████████████████████████████FOOTER████████████████████████████████████████████████████████████████████████

.flechas {
  z-index: 3;
  min-width: var(--min-width);

  i {
    color: var(--escan-fondo);
  }

  &-siguiente {
    button:after {
      content: "";
      border-style: solid;
      border-width: 24px 24px 24px 24px;
      border-color: var(--escan-fondo) var(--escan-fondo) var(--escan-fondo)
        var(--escan-primario);
      position: absolute;
      top: 0;
      right: -24px;
    }
  }

  &-atras {
    button:before {
      content: "";
      border-style: solid;
      border-width: 24px 24px 24px 24px;
      border-color: var(--escan-fondo) var(--escan-primario) var(--escan-fondo)
        var(--escan-fondo);
      position: absolute;
      top: 0;
      left: -24px;
    }
  }

  button {
    font-size: 1em;
    @include Tamano_Menor(sm) {
      font-size: 0.9em;
    }
  }
}

//████████████████████████████████████████████CHECBOX████████████████████████████████████████████████████████████████████████

.check-button-escasan {
  display: flex;
  justify-content: space-between;
}

.contra {
  display: flex;
  justify-content: left;
}
.export {
  display: flex;
  justify-content: right;
}

.contra,
.export {
  label {
    margin-left: 10px;
    font-weight: bold;
  }
}

.export {
  label {
    margin-right: 10px;
  }
}
