<div class="escasan-dialog" *ngIf="EsModal">
    <div class="btn-contenedor-custom" >

        <button class="close-button custom-cerrar" [mat-dialog-close]="true">
            <i class="fa-solid fa-xmark fa-beat-fade fa-2xl"></i>
        </button>
      </div>
</div>



<!--████████████████████████████████████████████DATOS DE DEL CLIENTE Y FACTURA██████████████████████████████████████████████████████████████████████-->

<div id="frmFichaFactura">

    <form class="mx-2" [formGroup]="val.ValForm" autocomplete="off">

        <div class="row">

            <span class="linea"></span>
            <div class="mb-3">
                <div class="card">
                    <div>
                        <div class="card-header card-escasan-header">DATOS DE {{TipoFactura == "Factura" ? "LA FACTURA" : "DEL PEDIDO"}}</div>
    
                        <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-sm-12 col-md-6 mb-3">
                                    <div>
                               
                                        <div> <!--<div class="card-body">-->
                                            <div class="row mb-1">
                    
                                                <div class="row">

                                                    <div class="col-12 col-sm-12 col-md-10 col-lg-10">
                                                        <igx-combo #cmbCliente  [data]="lstClientes" valueKey="Codigo"
                                                        displayKey="Key" id="txtCliente" formControlName="txtCliente"
                                                        placeholder="Cliente" searchPlaceholder="Seleccione un cliente..."
                                                        [autoFocusSearch]="true"
                                                        [overlaySettings]="overlaySettings"
                                                        (selectionChanging)="v_Select_Cliente($event)"
                                                        (keyup)="v_Enter_Cliente($event);"
                                                        (closed)="v_Close_Cliente()">
                                                        <label igxLabel>Cliente</label>
                                                    </igx-combo>
                                                    </div>

                                                    <div class="col-12 col-sm-12 col-md-2 col-lg-2">

                                                        <button type="button" class="btn i-boton btn-borrar-cliente"
                                                        (click)="v_Borrar_Cliente();"><i
                                                                [ngClass]="CodCliente == '' ? 'bi bi-people-fill' : 'fa-solid fa-eraser fa-beat-fade fa-lg'"></i>{{CodCliente}}</button>
                                                    </div>

                                                </div>
                    
                    
                                            </div>
                    
                                            <div class="row mb-1">
                                                <div class="input-group">
                                                    <div class="form-floating">
                                                        <input type="text" id="txtNombre" class="form-control" placeholder="Nombre"
                                                            aria-label="Nombre" formControlName="txtNombre">
                                                        <label for="txtNombre">Nombre</label>
                                                    </div>
                    
                                                </div>
                                            </div>
                    
                    
                    
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-6 mb-1">
                                                    <div class="input-group">
                                                        <span class="input-group-text"><i class="bi bi-person-vcard"></i></span>
                                                        <div class="form-floating">
                                                            <input type="text" id="txtIdentificacion" class="form-control"
                                                                placeholder="Ruc/Cedula" aria-label="Ruc_Cedula" formControlName="txtIdentificacion">
                                                            <label for="txtIdentificacion">Ruc/Cedula</label>
                                                        </div>
                    
                                                    </div>
                    
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-6 mb-1">
                                                    <div class="input-group">
                                                        <span class="input-group-text">{{SimboloMonedaCliente}}</span>
                                                        <div class="form-floating">
                                                            <input type="text" id="txtLimite" class="form-control" placeholder="Limite"
                                                                aria-label="Limite" formControlName="txtLimite">
                                                            <label for="txtLimite">Limite</label>
                                                        </div>
                    
                                                    </div>
                                                </div>
                                            </div>
                    
                    
                                            <div class="row mb-3">
                                                <div class="col-12 col-sm-12 col-md-6 mb-1">
                                                    <div class="input-group">
                                                        <span class="input-group-text"><i class="bi bi-telephone-fill"></i></span>
                                                        <div class="form-floating">
                                                            <input type="text" id="txtContacto" class="form-control" placeholder="Contacto"
                                                                aria-label="Contacto" formControlName="txtContacto">
                                                            <label for="txtContacto">Contacto</label>
                                                        </div>
                    
                                                    </div>
                    
                                                </div>
                                                <div class="col-12 col-sm-12 col-md-6">
                                                    <div class="input-group">
                                                        <span class="input-group-text">{{SimboloMonedaCliente}}</span>
                                                        <div class="form-floating">
                                                            <input type="text" id="txtDisponible" class="form-control"
                                                                placeholder="Disponible" aria-label="Disponible" formControlName="txtDisponible">
                                                            <label for="txtDisponible">Disponible</label>
                                                        </div>
                    
                                                    </div>
                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    
                                <div class="col-12 col-sm-12 col-md-6 mb-3">
                                    <div>
                                        
                                        <div> <!--<div class="card-body">-->
                    
                                            <div class="row mb-1">
                                                <div class="check-button-escasan">
                                                    <!--<div class="form-check form-switch form-control-lg">
                                                        <input id="txtTipoVenta" class="form-check-input check-escasan" type="checkbox"
                                                            role="switch" (change)="v_TipoPago($event)" />
                                                        <label for="txtTipoVenta" class="form-check-label">{{TipoFactura}}</label>
                                                    </div>-->
                    
                                                    <input type="checkbox" id="chkTipoFactura" data-toggle="toggle" data-style="on"
                                                        data-onstyle="on" data-offstyle="off" data-onlabel="Crédito" data-offlabel="Contado"
                                                        data-width="120" formControlName="chkTipoFactura"  (change)="v_TipoPago($event)">
                    
                    
                                                    <input type="checkbox" id="chkImpuesto" data-toggle="toggle" data-style="on"
                                                        data-onstyle="on" data-offstyle="off" data-onlabel="Iva" data-offlabel="Sin Iva"
                                                        data-width="120" formControlName="chkImpuesto"  checked (change)="v_TipoImpuesto($event)">
                    
                                                </div>
                    
                                            </div>
                    
                    
                                            <div class="row mb-1">
                    
                                                <igx-combo #cmbBodega [data]="lstBodega" valueKey="Codigo"
                                                            displayKey="Key" id="txtBodega" formControlName="txtBodega"
                                                            placeholder="Bodega" searchPlaceholder="Seleccione una bodega..."
                                                            [autoFocusSearch]="true" [overlaySettings]="overlaySettings"
                                                            (selectionChanging)="v_Select_Bodega($event)"
                                                            (keyup)="v_Enter_Bodega($event);" (closed)="v_Close_Bodega()">
                                                            <label igxLabel>Bodega</label>
                                                            <igx-prefix><i class="bi bi-shop"></i></igx-prefix>
                                                        </igx-combo>
                    
                                                <!--
                                                <div class="input-group">
                                                    <span class="input-group-text"><i class="bi bi-shop"></i>{{CodBodega}}</span>
                                                    <div class="form-floating">
                                                        <textarea type="text" id="txtBodega" class="form-control"
                                                            placeholder="Seleccione una bodega." aria-label="Bodega" formControlName="txtBodega" [matAutocomplete]="cmbBodega"></textarea>
                                                        <label for="txtBodega">Bodega</label>
                    
                                                    </div>
                    
                                                    <mat-autocomplete autoActiveFirstOption #cmbBodega="matAutocomplete"
                                                    (optionSelected)="v_Select_Bodega($event)">
                                                    <mat-option *ngFor="let option of filteredBodega | async" [value]="option.Key">
                                                        {{option.Key}}
                                                    </mat-option>
                                                </mat-autocomplete>
                    
                                                </div>
                    
                                            -->
                                            </div>
                    
                    
                    
                                            <div class="row mb-1">
                    
                                                <igx-combo #cmbVendedor [data]="lstVendedores" valueKey="Codigo"
                                                displayKey="Key" id="txtVendedor" formControlName="txtVendedor"
                                                placeholder="Vendedor" searchPlaceholder="Seleccione un vendedor..."
                                                [autoFocusSearch]="true" [overlaySettings]="overlaySettings"
                                                (selectionChanging)="v_Select_Vendedor($event)"
                                                (keyup)="v_Enter_Vendedor($event);">
                                                <label igxLabel>Vendedor</label>
                                                <igx-prefix><i class="bi bi-person-fill"></i></igx-prefix>
                                            </igx-combo>
                    
                                            </div>
                    
                    
                    
                    
                    
                    
                    
                                            <div class="row mb-1 g-0">
                    
                                                <div class="col-6">
                                                    <div class="contra">
                                                        <input type="checkbox" id="chkContraEntrega" data-toggle="toggle" data-style="on"
                                                            data-onstyle="on" data-offstyle="off" data-onlabel="Si" data-offlabel="No"
                                                            data-width="100" formControlName="chkContraEntrega" (change)="v_ContraEntrega($event)"><label> Contra Entrega
                                                        </label>
                                                    </div>
                    
                                                </div>
                                                <div class="col-6">
                    
                    
                    
                                                    <div class="export"><label> Exportación</label>
                                                        <input type="checkbox" id="chkExportacion" data-toggle="toggle" data-style="on"
                                                            data-onstyle="on" data-offstyle="off" data-onlabel="Si" data-offlabel="No"
                                                            data-width="100" formControlName="chkExportacion" (change)="v_Exportacion($event)">
                                                    </div>
                    
                                                </div>
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                    
                                                <!--
                    
                                                <div class="col-6">
                                                    <div class="form-check form-control-lg">
                                                        <input id="chkContraEntrega" class="form-check-input check-escasan" type="checkbox">
                                                        <label for="chkContraEntrega" class="form-check-label">Contra Entrega?</label>
                    
                                                    </div>
                                                </div>
                    
                                                <div class="col-6">
                                                    <div class="form-check form-control-lg">
                                                        <input id="chkExportacion" class="form-check-input check-escasan" type="checkbox">
                                                        <label for="chkExportacion" class="form-check-label">Exportación?</label>
                    
                                                    </div>
                                                </div>
                    
                    
                                            -->
                    
                    
                                            </div>
                    
                                            <div class="row">
                                                <div class="col-12 col-sm-12 col-md-12 col-lg-12">
                                                    <div class="input-group">
                                                        <div class="form-floating">
                                                            <input type="text" id="txtOC" class="form-control" placeholder="OC"
                                                                aria-label="OC" formControlName="txtOC">
                                                            <label for="txtOC">Orden de Compra</label>
                                                        </div>
                    
                                                    </div>
                                                </div>
                    
                    
                                            </div>
                    
                                        </div>
                                    </div>
                    
                                </div>
                            </div>
                        </div>
                    </div>
                   
               
                </div>
      
            </div>

        

        </div>

        <div class="row">
            <div class="btn-contenedor">
                <button type="button" class="btn btn-secundario" id="btnRefrescar" (click)="v_Refrescar();"><i class="fa-solid fa-arrows-rotate fa-spin fa-lg"></i> Refrescar</button>
                <button type="button" class="btn btn-secundario" id="btnCanclar" (click)="_Evento('Limpiar');"><i class="fa-solid fa-arrow-left fa-beat fa-lg opcional"></i> Cancelar</button>
            </div>
        </div>



      

    </form>


</div>


<!--████████████████████████████████████████████FICHA PRODUCTO██████████████████████████████████████████████████████████████████████████████████████-->


<app-fact-ficha-producto #FichaProducto></app-fact-ficha-producto>

<!--████████████████████████████████████████████REVISION DE FACTURA██████████████████████████████████████████████████████████████████████████████████████-->


<app-fact-revision #RevisionFactura></app-fact-revision>



<!--████████████████████████████████████████████CONFIRMAR FACTURA█████████████████████████████████████████████████████████████████████████████████████████-->

<app-fact-confirmar #ConfirmarFactura></app-fact-confirmar>




<div class="escan-footer">
    <div class="footer-cliente">
        <div class="flechas">

            <div class="flechas-siguiente">
                <button type="button" class="btn btn-success" id="btnSiguiente" (click)="v_FichaPanel('Siguiente')" *ngIf="Panel==''"><i
                        class="bi bi-plus-circle-fill"></i>Producto</button>
            </div>
            <div class="row" *ngIf="Panel!=''">

                <div class="col-6 flechas-atras">
                    <button type="button" class="btn btn-success" (click)="v_FichaPanel('Atras')"><i
                            class="bi bi-arrow-left-circle-fill"></i>Atras</button>
                </div>
                <div class="col-6 flechas-siguiente contenedor-siguiente">
                    <button type="button" class="btn btn-success" (click)="v_FichaPanel('Siguiente')">
                        <i class="bi bi-eye-fill" *ngIf="Panel=='Producto' || Panel=='Revision'"></i>
                        <i class="bi bi-cart-plus-fill" *ngIf="Panel=='Confirmar'"></i>
                        {{BotonSiguienteLabel}}
                    </button>
                </div>


            </div>

        </div>


    </div>

</div>

<button id="btnGuardarFactura" (click)="v_Guardar();">

</button>