<div class="escasan-dialog">
    <div class="btn-contenedor">
        <button class="close-button custom-cerrar" [mat-dialog-close]="true">
            <mat-icon class="close-icon" color="warn">close</mat-icon>
        </button>
    </div>

    <div>

        <form class="mx-2" [formGroup]="val.ValForm" autocomplete="off">
            <div class="row mb-1">
                <div class="input-group">

                    <div class="form-floating">
                        <input type="text" id="txtCantidadBonif" class="form-control" placeholder="" aria-label="Cantidad"
                            formControlName="txtCantidadBonif"
                            (keydown)="this.cFunciones.v_Prevent_IsNumber($event,  'Entero');"
                            (focusout)="v_FocusOut();">
                        <label for="txtCantidadBonif">Cantidad</label>
                    </div>
                    <span class="input-group-text input-group-simbolo">
                        <div class="number-simbolo">

                            <button type="button" class="simbolo-mas"><i class="fa-solid fa-plus"
                                    (click)="v_minus_mas('+');"></i></button>
                            <button type="button" class="simbolo-minus"><i class="fa-solid fa-minus"
                                    (click)="v_minus_mas('-');"></i></button>

                        </div>

                    </span>
                </div>
            </div>

            <div class="row mb-1 linea">
                <div mat-dialog-actions class="btn-contenedor">
                    <button type="button" class="btn btn-primario" id="btnAgregarBonif" (click)="v_Aceptar()">
                        Aceptar
                    </button>
                    <button type="button" class="btn btn-secundario" (click)="v_Cancelar()">
                        Cerrar
                    </button>
                </div>
            </div>
            <div class="row mb-1">
                <div class="input-group">
                    <span class="input-group-text"><i class="fa-solid fa-magnifying-glass"></i></span>

                    <div class="form-floating">
                        <input type="text" id="txtProducto" class="form-control" placeholder="Producto"
                            aria-label="Producto" (keyup)="v_Filtrar($event)" autocomplete="off" />
                        <label for="txtProducto">Buscar Producto</label>
                    </div>
                </div>
            </div>

            <div class="row">
                <p>Bonificaciones Libres</p>
            </div>
    
        </form>

        
        <div mat-dialog-content class="mt-1">
            <div class="row escan-table">
                <table class="table table-hover table-bordered table-sm tabla-direccion">
                    <tbody *ngFor="let det of lstFilter">
                        <tr class="row">
                            <td scope="row" class="col-sm-12">
                                <div>
                                    <div class="contenedor-depto-muni input-group-text">
                                        <div>
                                            <input class="form-check-input check-escasan" [(ngModel)]="det.Seleccionar"
                                                type="checkbox" (change)="v_Seleccionar(det)" />{{ det.Codigo }}
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="col-sm-12">
                                <div class="text-ajustar">{{ det.Producto }}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>


    </div>


</div>