p{
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  font-size: 1.5em;
}
.btn-contenedor button{
    margin-left: 10px;
    margin-right: 10px;
  }

  .text-ajustar {
    float: left;
    display: flex;
    align-items: center;
    word-break: break-all;
    margin: 0 0 1em 1em;
  }
  
  .linea {
    border-bottom: 2px solid var(--escan-secundario);
  }
  


  //████████████████████████████████████████████TEXT NUMBER████████████████████████████████████████████████████████████████████████

.input-group-simbolo {
  padding: 0;
}
.number-simbolo {
  .simbolo {
    &-mas,
    &-minus {
      display: block;
      background: transparent;
      border: 0;
      color: black;
      :hover {
        color: var(--escan-primario);
        transform: scale(1.2);
      }
    }

    &-minus {
      margin-top: 2px;
    }
  }

  /* overflow: hidden; 
    text-align: center;
    span i{
      display: block;
      margin: 5px 5% 0 0;
  
    }*/
}


