<div id="frmRevision" style="display:none;">
    <div class="mx-2">

      <div class="row">
        <div class="col-8">
            <table class="table table-hover table-sm">
                <thead>
                    <tr class="row linea header-table">
                        <th scope="col" class="col-12">PRODUCTO</th>
                    </tr>
                </thead>
                <tbody>

                    <tr class="row">
                        <td class="col-sm-12"><div class="text-ajustar">XX-XX-XXXX</div></td>
                        <td class="col-sm-12"><div class="text-ajustar">asdasdsadsadsadsadsadasdahdksadlkhsalkdhsaldhlkjahdkjsahkjdsakjdkjsadkjasdsa</div></td>
                        <td class="col-sm-12"><div class="etiqueta">Precio:</div><div class="valores">999,999,99</div></td>
                        <td class="col-sm-12"><div class="etiqueta">Cantidad:</div><div class="valores">999,999,99</div></td>
                        <td class="col-sm-12"><div class="etiqueta">Sub Total:</div><div class="valores">999,999,99</div></td>
                        <td class="col-sm-12 linea">
                            <span class="input-group-text">
                                <button type="button" class="btn"><i class="fa-solid fa-trash fa-beat-fade"
                                    (click)="v_Eliminar();"></i>
                            </button>
                            </span>

                        </td>
                    </tr>


                    <tr class="row">
                        <td class="col-sm-12"><div class="text-ajustar">XX-XX-XXXX</div></td>
                        <td class="col-sm-12"><div class="text-ajustar">asdasdsadsadsadsadsadasdahdksadlkhsalkdhsaldhlkjahdkjsahkjdsakjdkjsadkjasdsa</div></td>
                        <td class="col-sm-12"><div class="etiqueta">Precio:</div><div class="valores">999,999,99</div></td>
                        <td class="col-sm-12"><div class="etiqueta">Cantidad:</div><div class="valores">999,999,99</div></td>
                        <td class="col-sm-12"><div class="etiqueta">Sub Total:</div><div class="valores">999,999,99</div></td>
                        <td class="col-sm-12 linea">
                            <span class="input-group-text">
                                <button type="button" class="btn"><i class="fa-solid fa-trash fa-beat-fade"
                                    (click)="v_Eliminar();"></i>
                            </button>
                            </span>

                        </td>
                    </tr>

                    <tr class="row">
                        <td class="col-sm-12"><div class="text-ajustar">XX-XX-XXXX</div></td>
                        <td class="col-sm-12"><div class="text-ajustar">asdasdsadsadsadsadsadasdahdksadlkhsalkdhsaldhlkjahdkjsahkjdsakjdkjsadkjasdsa</div></td>
                        <td class="col-sm-12"><div class="etiqueta">Precio:</div><div class="valores">999,999,99</div></td>
                        <td class="col-sm-12"><div class="etiqueta">Cantidad:</div><div class="valores">999,999,99</div></td>
                        <td class="col-sm-12"><div class="etiqueta">Sub Total:</div><div class="valores">999,999,99</div></td>
                        <td class="col-sm-12 linea">
                            <span class="input-group-text">
                                <button type="button" class="btn"><i class="fa-solid fa-trash fa-beat-fade"
                                    (click)="v_Eliminar();"></i>
                            </button>
                            </span>

                        </td>
                    </tr>

                    <tr class="row">
                        <td class="col-sm-12"><div class="text-ajustar">XX-XX-XXXX</div></td>
                        <td class="col-sm-12"><div class="text-ajustar">asdasdsadsadsadsadsadasdahdksadlkhsalkdhsaldhlkjahdkjsahkjdsakjdkjsadkjasdsa</div></td>
                        <td class="col-sm-12"><div class="etiqueta">Precio:</div><div class="valores">999,999,99</div></td>
                        <td class="col-sm-12"><div class="etiqueta">Cantidad:</div><div class="valores">999,999,99</div></td>
                        <td class="col-sm-12"><div class="etiqueta">Sub Total:</div><div class="valores">999,999,99</div></td>
                        <td class="col-sm-12 linea">
                            <span class="input-group-text">
                                <button type="button" class="btn"><i class="fa-solid fa-trash fa-beat-fade"
                                    (click)="v_Eliminar();"></i>
                            </button>
                            </span>

                        </td>
                    </tr>

                    <tr class="row">
                        <td class="col-sm-12"><div class="text-ajustar">XX-XX-XXXX</div></td>
                        <td class="col-sm-12"><div class="text-ajustar">asdasdsadsadsadsadsadasdahdksadlkhsalkdhsaldhlkjahdkjsahkjdsakjdkjsadkjasdsa</div></td>
                        <td class="col-sm-12"><div class="etiqueta">Precio:</div><div class="valores">999,999,99</div></td>
                        <td class="col-sm-12"><div class="etiqueta">Cantidad:</div><div class="valores">999,999,99</div></td>
                        <td class="col-sm-12"><div class="etiqueta">Sub Total:</div><div class="valores">999,999,99</div></td>
                        <td class="col-sm-12 linea">
                            <span class="input-group-text">
                                <button type="button" class="btn"><i class="fa-solid fa-trash fa-beat-fade"
                                    (click)="v_Eliminar();"></i>
                            </button>
                            </span>

                        </td>
                    </tr>

                    <tr class="row">
                        <td class="col-sm-12"><div class="text-ajustar">XX-XX-XXXX</div></td>
                        <td class="col-sm-12"><div class="text-ajustar">asdasdsadsadsadsadsadasdahdksadlkhsalkdhsaldhlkjahdkjsahkjdsakjdkjsadkjasdsa</div></td>
                        <td class="col-sm-12"><div class="etiqueta">Precio:</div><div class="valores">999,999,99</div></td>
                        <td class="col-sm-12"><div class="etiqueta">Cantidad:</div><div class="valores">999,999,99</div></td>
                        <td class="col-sm-12"><div class="etiqueta">Sub Total:</div><div class="valores">999,999,99</div></td>
                        <td class="col-sm-12 linea">
                            <span class="input-group-text">
                                <button type="button" class="btn"><i class="fa-solid fa-trash fa-beat-fade"
                                    (click)="v_Eliminar();"></i>
                            </button>
                            </span>

                        </td>
                    </tr>

                    <tr class="row">
                        <td class="col-sm-12"><div class="text-ajustar">XX-XX-XXXX</div></td>
                        <td class="col-sm-12"><div class="text-ajustar">asdasdsadsadsadsadsadasdahdksadlkhsalkdhsaldhlkjahdkjsahkjdsakjdkjsadkjasdsa</div></td>
                        <td class="col-sm-12"><div class="etiqueta">Precio:</div><div class="valores">999,999,99</div></td>
                        <td class="col-sm-12"><div class="etiqueta">Cantidad:</div><div class="valores">999,999,99</div></td>
                        <td class="col-sm-12"><div class="etiqueta">Sub Total:</div><div class="valores">999,999,99</div></td>
                        <td class="col-sm-12 linea">
                            <span class="input-group-text">
                                <button type="button" class="btn"><i class="fa-solid fa-trash fa-beat-fade"
                                    (click)="v_Eliminar();"></i>
                            </button>
                            </span>

                        </td>
                    </tr>

                    <tr class="row">
                        <td class="col-sm-12"><div class="text-ajustar">XX-XX-XXXX</div></td>
                        <td class="col-sm-12"><div class="text-ajustar">asdasdsadsadsadsadsadasdahdksadlkhsalkdhsaldhlkjahdkjsahkjdsakjdkjsadkjasdsa</div></td>
                        <td class="col-sm-12"><div class="etiqueta">Precio:</div><div class="valores">999,999,99</div></td>
                        <td class="col-sm-12"><div class="etiqueta">Cantidad:</div><div class="valores">999,999,99</div></td>
                        <td class="col-sm-12"><div class="etiqueta">Sub Total:</div><div class="valores">999,999,99</div></td>
                        <td class="col-sm-12 linea">
                            <span class="input-group-text">
                                <button type="button" class="btn"><i class="fa-solid fa-trash fa-beat-fade"
                                    (click)="v_Eliminar();"></i>
                            </button>
                            </span>

                        </td>
                    </tr>

                    <tr class="row">
                        <td class="col-sm-12"><div class="text-ajustar">XX-XX-XXXX</div></td>
                        <td class="col-sm-12"><div class="text-ajustar">asdasdsadsadsadsadsadasdahdksadlkhsalkdhsaldhlkjahdkjsahkjdsakjdkjsadkjasdsa</div></td>
                        <td class="col-sm-12"><div class="etiqueta">Precio:</div><div class="valores">999,999,99</div></td>
                        <td class="col-sm-12"><div class="etiqueta">Cantidad:</div><div class="valores">999,999,99</div></td>
                        <td class="col-sm-12"><div class="etiqueta">Sub Total:</div><div class="valores">999,999,99</div></td>
                        <td class="col-sm-12 linea">
                            <span class="input-group-text">
                                <button type="button" class="btn"><i class="fa-solid fa-trash fa-beat-fade"
                                    (click)="v_Eliminar();"></i>
                            </button>
                            </span>

                        </td>
                    </tr>

                    <tr class="row">
                        <td class="col-sm-12"><div class="text-ajustar">XX-XX-XXXX</div></td>
                        <td class="col-sm-12"><div class="text-ajustar">asdasdsadsadsadsadsadasdahdksadlkhsalkdhsaldhlkjahdkjsahkjdsakjdkjsadkjasdsa</div></td>
                        <td class="col-sm-12"><div class="etiqueta">Precio:</div><div class="valores">999,999,99</div></td>
                        <td class="col-sm-12"><div class="etiqueta">Cantidad:</div><div class="valores">999,999,99</div></td>
                        <td class="col-sm-12"><div class="etiqueta">Sub Total:</div><div class="valores">999,999,99</div></td>
                        <td class="col-sm-12 linea">
                            <span class="input-group-text">
                                <button type="button" class="btn"><i class="fa-solid fa-trash fa-beat-fade"
                                    (click)="v_Eliminar();"></i>
                            </button>
                            </span>

                        </td>
                    </tr>
         
           

                </tbody>
            </table>
           
        </div>

        <div class="col-4">

            <div class="contenedor">

                
                <div class="row">
                    <div class="col-12 contenedor-totales total-panel-1">
                        <div class="etiqueta-totales">SUB TOTAL</div>
                        <div class="valores-totales">999,999,999.00</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 contenedor-totales total-panel-1">
                        <div class="etiqueta-totales">DECUENTO</div>
                        <div class="valores-totales">999,999,999.00</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 contenedor-totales total-panel-1">
                        <div class="etiqueta-totales">SUB.T NETO</div>
                        <div class="valores-totales">999,999,999.00</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 contenedor-totales total-panel-2">
                        <div class="etiqueta-totales">IMPUESTO</div>
                        <div class="valores-totales">999,999,999.00</div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-12 contenedor-totales total-panel-3">
                        <div class="etiqueta-totales">TOTAL C$</div>
                        <div class="valores-totales">999,999,999.00</div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 contenedor-totales total-panel-3">
                        <div class="etiqueta-totales">TOTAL U$</div>
                        <div class="valores-totales">999,999,999.00</div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-12 contenedor-totales total-panel-2">
                        <div class="etiqueta-totales">TC</div>
                        <div class="valores-totales">999,999,999.00</div>
                    </div>
                </div>

            </div>
        </div>
    
      </div>
       

    </div>

    <div class="escan-footer">

        <div class="flechas">

            <div class="row">

                <div class="col-6 flechas-atras">
                    <button type="button" class="btn btn-success" (click)="v_FichaPanel('Ver Productos')"><i
                            class="bi bi-arrow-left-circle-fill"></i>Atras</button>
                </div>
                <div class="col-6 flechas-siguiente contenedor-siguiente">
                    <button type="button" class="btn btn-success" (click)="v_FichaPanel('Confirmar')"><i
                            class="bi bi-eye-fill"></i>Confirmar</button>
                </div>


            </div>




        </div>




    </div>

</div>
