@import '/src/assets/scss/media.scss';


//████████████████████████████████████████████TABLE██████████████████████████████████████████████████████████████████████

.frmRevision{
  min-width: var(--min-width);
}

table {
  margin-bottom: 60px;
  position: relative;
}

thead {
  position: absolute;
}
.header-table {
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  top: 0;
  height: 40px;
}

tbody tr:first-child {
  margin-top: 30px;
}

.text-ajustar {
  float: left;
  display: flex;
  align-items: center;
  word-break: break-all;
  margin: 0 0 1em 1em;
}

thead tr {
  width: 100%;
}

thead tr.linea {
  border-bottom: 2px solid var(--escan-primario);
}

td span {
  display: block;
  text-align: right;
}

td i {
  font-size: 2em;
}

.etiqueta,
.valores {
  display: inline-block;
  font-weight: bold;
  width: 80%;
  text-align: right;
}

.valores {
  width: 20%;
  font-weight: initial;
  padding-right: 10px;


}

.valores-descuento{
  display: flex;
  justify-content:space-between;
  .porc{
    margin-left: 5px;
    color: blue;
  }
}



.valores{
  .bonif, .exo{
    display: inline-block;
    width: 50%;
    font-weight: bold;
  }
  
  .bonif{
    color: var(--escan-primario);
  }
  
  .exo{
    color: var(--escan-secundario);
  }
}






@include Tamano(xs) {
  .etiqueta {
    width: 40%;
  }

  .valores {
    width: 60%;
  }

  .pie-fila{
    width: 50%;
  }

}

@include Tamano(lg) {
  .etiqueta {
    width: 80%;
  }

  .valores {
    width: 20%;
  }

}

.linea {
  border-bottom: 2px dashed var(--escan-secundario);
}




//████████████████████████████████████████████TOTALES██████████████████████████████████████████████████████████████████████

.total-panel-1 {
  background-color: #d47c3b;
}

.total-panel-2 {
  background-color: #1b364c;
}

.total-panel-3 {
  background-color: var(--escan-primario);
}

.contenedor {
  position: fixed;
  top: 35px;
  right: 15px;

  .contenedor-totales {
    display: block;
    color: var(--escan-fondo);
    //margin-bottom: 2px;
    border-bottom: 2px dotted;

    .etiqueta-totales {
      text-align: center;
      font-weight: bold;
    }

    .valores-totales {
      text-align: right;
      font-weight: bold;
    }

    @include Tamano(xs) {
      width: 100%;
      height: 50px;

      .etiqueta-totales,
      .valores-totales {
        font-size: 0.8em;
        padding-top: 2px;
        padding-bottom: 2px;
      }
    }

    @include Tamano(lg) {
      width: 300px;
      height: 70px;

      .etiqueta-totales,
      .valores-totales {
        font-size: 1.2em;
        padding-top: 5px;
        padding-bottom: 5px;
      }
    }
  }
}

//████████████████████████████████████████████FOOTER██████████████████████████████████████████████████████████████████████

.flechas {
  i {
    color: var(--escan-fondo);
  }

  &-siguiente {
    button:after {
      content: "";
      border-style: solid;
      border-width: 24px 24px 24px 24px;
      border-color: var(--escan-fondo) var(--escan-fondo) var(--escan-fondo)
        var(--escan-primario);
      position: absolute;
      top: 0;
      right: -24px;
    }

    @include Tamano(xs) {
      button:before {
        position: absolute;
        top: 0;
        left: calc((50% + 12px));
      }
    }

    @include Tamano(lg) {
      button:before {
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  &-atras {
    button:before {
      content: "";
      border-style: solid;
      border-width: 24px 24px 24px 24px;
      border-color: var(--escan-fondo) var(--escan-primario) var(--escan-fondo)
        var(--escan-fondo);
      position: absolute;
      top: 0;
      left: -24px;
    }

    @include Tamano(xs) {
      button:after {
        position: absolute;
        top: 0;
        right: 50%;
      }
    }

    @include Tamano(lg) {
      button:after {
        position: absolute;
        top: 0;
        right: 0;
      }
    }
  }
}
