<div id="frmRevision" style="display:none;">
    <div class="mx-2">

        <div class="row">
            <div class="col-8">
                <table class="table table-hover table-sm">
                    <thead>
                        <tr class="row linea header-table">
                            <th scope="col" class="col-12">PRODUCTO</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let det of lstDetalle">

                        <tr class="row">
                            <td class="col-sm-12">
                                <div class="text-ajustar">{{det.Codigo}}</div>
                            </td>
                            <td class="col-sm-12">
                                <div class="text-ajustar">
                                    {{det.Producto}}</div>
                            </td>
                            <td class="col-sm-12">
                                <div class="etiqueta">Precio:</div>
                                <div class="valores">{{det.Precio| number : '1.4-4'}}</div>
                            </td>
                            <td class="col-sm-12">
                                <div class="etiqueta">Cantidad:</div>
                                <div class="valores">{{det.Cantidad| number : '1.2-2'}}</div>
                            </td>
                            <td class="col-sm-12">
                                <div class="etiqueta">Sub Total:</div>
                                <div class="valores">{{det.SubTotal| number : '1.2-2'}}</div>
                            </td>
                            <td class="col-sm-12">
                                <div class="etiqueta">Descuento:</div>
                                <div class="valores">
                                    <div class="valores-descuento"><span class="porc">{{det.PorcDescuento * 100| number
                                            :
                                            '1.2-2'}} %</span><span>{{det.Descuento| number : '1.2-2'}}</span></div>
                                </div>
                            </td>
                            <td class="col-sm-12">
                                <div class="etiqueta">Adicional:</div>
                                <div class="valores">
                                    <div class="valores-descuento"><span class="porc">{{det.PorcDescuentoAdicional *
                                            100| number :
                                            '1.2-2'}} %</span><span>{{det.DescuentoAdicional| number : '1.2-2'}}</span>
                                    </div>
                                </div>
                            </td>
                            <td class="col-sm-12">
                                <div class="etiqueta">Sub Total Neto:</div>
                                <div class="valores">{{det.SubTotalNeto| number : '1.2-2'}}</div>
                            </td>

                            <td class="col-sm-12" *ngIf="det.EsBonif || det.EsExonerado">
                                <div class="etiqueta pie-fila"></div>
                                <div class="valores pie-fila">
                                    <span *ngIf="det.EsBonif" class="bonif">BO{{det.EsBonifLibre ? '-L' : ''}}</span>
                                    <span *ngIf="det.EsExonerado" class="exo">EXO</span>
                                </div>
                            </td>

                            <td class="col-sm-12 linea">

                                <span class="input-group-tex">

                                    <div class="contenedor-edicion">

                                        <div class="btn-contenedor">
                                            <button type="button" class="btn btn-primario AutorizarMargen"
                                                *ngIf="EsModal && (det.PedirAutorizado || det.PrecioLiberado)"
                                                (click)="v_Autorizar(det);">
                                                <b>{{det.PedirAutorizado? 'Margen:' : 'Precio Libre' }}</b>
                                                <b>{{det.PedirAutorizado? det.Margen : ''}}</b>

                                                <i
                                                    [ngClass]="det.Autorizado ? 'fa-solid fa-lock-open fa-beat-fade fa-lg secundario' : 'fa-solid fa-lock fa-beat-fade fa-lg'"></i>


                                            </button>

                                            <button type="button" class="btn" (click)="v_Eliminar(det.Index);"><i
                                                    class="fa-solid fa-trash fa-beat-fade"></i>
                                            </button>
                                        </div>




                                    </div>

                                </span>

                            </td>
                        </tr>





                    </tbody>
                </table>

            </div>

            <div class="col-4">

                <div class="contenedor">


                    <div class="row">
                        <div class="col-12 contenedor-totales total-panel-1">
                            <div class="etiqueta-totales">SUB TOTAL</div>
                            <div class="valores-totales">{{SubTotal| number : '1.2-2'}}</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 contenedor-totales total-panel-1">
                            <div class="etiqueta-totales">DECUENTO</div>
                            <div class="valores-totales">{{Descuento| number : '1.2-2'}}</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 contenedor-totales total-panel-1">
                            <div class="etiqueta-totales">ADICIONAL</div>
                            <div class="valores-totales">{{Adicional| number : '1.2-2'}}</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 contenedor-totales total-panel-1">
                            <div class="etiqueta-totales">SUB.T NETO</div>
                            <div class="valores-totales">{{SubTotalNeto| number : '1.2-2'}}</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 contenedor-totales total-panel-2">
                            <div class="etiqueta-totales">IMPUESTO</div>
                            <div class="valores-totales">{{Impuesto| number : '1.2-2'}}</div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-12 contenedor-totales total-panel-3">
                            <div class="etiqueta-totales">TOTAL C$</div>
                            <div class="valores-totales">{{TotalCordoba| number : '1.2-2'}}</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 contenedor-totales total-panel-3">
                            <div class="etiqueta-totales">TOTAL U$</div>
                            <div class="valores-totales">{{TotalDolar| number : '1.2-2'}}</div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-12 contenedor-totales total-panel-2">
                            <div class="etiqueta-totales">TC</div>
                            <div class="valores-totales">{{TC| number : '1.4-4'}}</div>
                        </div>
                    </div>

                </div>
            </div>

        </div>


    </div>


</div>